<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Raça</th>
      <th>Nome</th>
      <th>Idade</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @animal.raca %></td>
        <td><%= @animal.nome %></td>
        <td><%= @animal.idade %></td>
      </tr>
  </tbody>
</table>
